{block title}Provize{/block}
{block content}
	<h1>Provize pro Vás</h1>
	<p>
		Víte o někom z Vašeho okolí, kdo hledá účetní firmu? Poskytneme Vám <b>provizi</b> ve výši první měsíční pravidelné fakturace nového klienta.
		<br /><br />
		Budeme rádi za Vaše doporučení a rádi Vás za něj odměníme.
	</p>
