{block title}Mapa{/block}
{block content}
	<h1>Kde nás najdete?</h1>
	<p class="left">je to úplně jednoduché, nacházíme se na adrese Lidická 1261/43c Havířov-Šumbark.</p>

	<a href="http://go.mapa.cz/planovat-trasu-autem-m38?p[20]=49.79713279427805,18.401745557785034" target="_blank">GPS souřadnice</a>
	<br /><br />

	<iframe style="width: 100%; height: 600px;" src="https://www.google.com/maps/d/embed?mid=11y7xXuy8CpBjR54qwxqBVaZ6hiA"></iframe>
